# Deep Learning
tensorflow

# Traitement d'images
opencv-python
Pillow

# Data science
numpy
pandas
scikit-learn

# Visualisation
matplotlib
seaborn

# API
fastapi
uvicorn

# Jupyter Notebook
notebook
jupyter
